<% section "vehicles edit" %>

<% header do -%>
  <h1>Editing <%= @vehicle.name %></h1>
<% end -%>
  
<%= render :partial => 'vehicle', :locals => { :button_label => 'Add Vehicle', :vehicle => @vehicle} %>
